<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title"><%=pageTitle%></h1>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <form id="form-merge-invoice-select" action="/merge-invoices-view" method="POST">
            <div class="field">
              <label class="label" for="item">Select first invoice</label>
              <div class="control">
                <div class="select is-rounded">
                  <select name="first-invoice">
                    <option value="">Select dropdown</option>
                    <% pageData.invoices.map((invoice) => { %>
                    <option value="<%=invoice.invoiceId%>">
                      <%=invoice.invoiceId%> - <%=invoice.createdDate%>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="item">Select second invoice</label>
              <div class="control">
                <div class="select is-rounded">
                  <select name="second-invoice">
                    <option value="">Select dropdown</option>
                    <% pageData.invoices.map((invoice) => { %>
                    <option value="<%=invoice.invoiceId%>">
                      <%=invoice.invoiceId%> - <%=invoice.createdDate%>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <% if (pageErrors.invoiceMergeView) { pageErrors.invoiceMergeView.map((error) => {
                %>
                <p class="has-text-danger-dark mt-2 is-size-7 has-text-left is-italic">
                  <%= error.msg %>
                </p>
                <% }) } %>
                <button
                  class="button is-primary is-rounded"
                  id="btn-merge-invoice-view"
                  type="submit"
                >
                  Select invoices
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="column">select second invoice</div>
      </div>
    </div>
  </section>
</div>
