<div class="container">
  <section class="section">
    <div class="container">
      <h1 class="title"><%=pageTitle%></h1>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <% if (pageErrors.invoiceLines) { pageErrors.invoiceLines.map((error) => { %>
      <p class="has-text-danger-dark mt-2 is-size-7 has-text-left is-italic"><%= error.msg %></p>
      <% }) } %>
      <form id="form-invoice-line" action="/invoice-line" method="POST">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="item">Select an Item</label>
              <div class="control">
                <div class="select is-rounded">
                  <select name="item">
                    <option value="null">Select dropdown</option>
                    <% pageData.inventoryItems.map((item) => { %>
                    <option value="<%=item.itemId%>"><%=item.name%></option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="quantity">Quantity</label>
              <div class="control">
                <input class="input is-rounded" name="quantity" type="text" value="1" />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="description">Description</label>
              <div class="control">
                <input
                  class="input is-rounded"
                  name="description"
                  type="text"
                  placeholder="Description"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control" style="top: 32px">
                <input
                  type="hidden"
                  name="temporaryInvoiceLinesJson"
                  value="<%=pageData.invoiceLines%>"
                />
                <button
                  class="button is-primary is-rounded"
                  id="btn-add-invoice-line"
                  type="submit"
                >
                  Add invoice line
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <table class="table" id="table-invoice-line">
        <thead>
          <tr>
            <th>Item Id</th>
            <th>Item Name</th>
            <th>Unit</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Description</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <% if(pageData?.invoiceLines?.length > 0 && JSON.parse(pageData.invoiceLines).length > 0)
          { %> <% JSON.parse(pageData.invoiceLines).map((line) => { %>
          <tr>
            <td><%=line.itemId%></td>
            <td><%=line.itemName%></td>
            <td><%=line.unit%></td>
            <td><%=line.unitPrice%></td>
            <td><%=line.quantity%></td>
            <td>$<%=line.totalPrice%></td>
            <td><%=line.description%></td>
            <td>
              <a href="/invoice-line-delete/<%=line.lineId%>"
                ><img class="image" src="images/remove.png"
              /></a>
            </td>
          </tr>
          <% }) } else { %>
          <tr>
            <td colspan="6">
              <p class="is-italic is-size-7 has-text-centered">No invoice lines available</p>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <form name="invoice-form" action="/invoice" method="POST">
        <input type="hidden" name="finalInvoiceLinesJson" value="<%=pageData.invoiceLines%>" />
        <% if (pageErrors.invoice) { pageErrors.invoice.map((error) => { %>
        <p class="has-text-danger-dark mt-2 is-size-7 has-text-left is-italic"><%= error.msg %></p>
        <% }) } %>
        <button class="button is-danger is-rounded" type="reset" id="btn-generate-invoice">
          Reset invoice
        </button>
        <button class="button is-primary is-rounded" type="submit" id="btn-generate-invoice">
          Generate invoice
        </button>
      </form>
    </div>
  </section>
</div>
